page-translator {
	ion-auto-complete {
		.searchbar-search-icon { display:none; width:0; height:0; }
		.searchbar-input { 
			padding-left: 10px !important;
		}
	}

	.send-icon-button {
		margin-top: 10px;
	}
}
